.header {
  // background: grey;
  height: 80px;
  border-bottom-style: solid;
  border-bottom-width: thin;

  .buttonAvatar {
    background: url(/assets/avatar.jpg);
    background-size: 100%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }

  .search-container {
    display: flex;

    .searchTerm {
      width: 75%;
      border: 2px solid black;
      border-right: none;
      padding: 3px;
      height: 24px;
      border-radius: 5px 0 0 5px;
    }

    .searchButton {
      background:grey;
      background-image: url(/assets/searchIcon.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 30px;
      height: 30px;
      border: 2px solid black;
      border-left: none;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
    }

  }

}

::ng-deep.mat-menu-panel {
    // transform: translate(0px, 0px);
    background-color:#DCDCDC;
}

button.mat-menu-item:hover {
  background-color: black;
  color: white !important;
}
