.bodyContainer {
  display:flex;

  .col-container {
    display: table;
    width: 100%;
  }

  .col {
    display: table-cell;
    padding: 15px;
    width: 50%;

    .cardContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th {
      text-align: middle;
    }
    td{
      text-align: center;
    }
  }

  .mat-class-all {
    color: black;
    display: block;
    padding: 5px;
    text-decoration: none;
    background:Snow;
    cursor: pointer;
    &.selected{
      background-color: blue;
      color: white;
      border-radius: 5px;
    }

  }

  .mat-class-all:hover {
    color: white;
    background-color: #339FFF;
    border-radius: 5px;
  }

}
