<div *ngIf="isServiceLoaded==true">
  <div class="bodyContainer">
    <div class="col-container">
      <div class="col">
        <button style="float: right; font-size:20px; text-align: center;" (click)="navigateToCreate()"><mat-icon>add_circle_outline</mat-icon> Event</button>
        <br><br><br>
          <div *ngFor="let event of eventList">
            <mat-card class="mat-class-all" [class.selected]="eventIdSelected==event.eventId" (click)="eventChosen(event.eventId)">
                <mat-card-title>Event: {{event.eventTitle}}</mat-card-title>
                <mat-card-content>Category: {{event.eventCategory}}</mat-card-content>
                <mat-card-content *ngIf="event.locOtherAddress==''">Location: {{event.location}}, Venue: {{event.locVenue}}</mat-card-content>
                <mat-card-content *ngIf="event.locOtherAddress!=''">Location: {{event.locOtherAddress}}</mat-card-content>
            </mat-card>
          </div>
      </div>

      <div class="col">
        <div *ngIf="eventIdSelected!=null && eventSel!=null" style="background:	#DCDCDC; border-radius: 5px;">
          <div *ngFor="let event of eventSel">

            <mat-card>
              <mat-card-title><h2>Event: {{event.eventTitle}}</h2></mat-card-title>
              <mat-card-content>{{event.eventCategoryP}} event</mat-card-content>
              <mat-card-content *ngIf="event.locOtherAddress==''">Location: {{event.location}}, Venue: {{event.locVenue}}</mat-card-content>
              <mat-card-content *ngIf="event.locOtherAddress!=''">Location: {{event.locOtherAddress}}</mat-card-content>
              <mat-card-content>Category: {{event.eventCategory}} , Subcategory: {{event.eventSubCategory}}</mat-card-content>
              <mat-card-content>Event will be: {{event.eventOn}} , {{event.eventOnDay}}</mat-card-content>
              <mat-card-content>Starts: {{event.eventStartDay}} , End By: {{event.eventEndDay}}</mat-card-content>
              <mat-card-content>Start Time: {{event.eventStartTime}} , End Time: {{event.eventEndTime}}</mat-card-content>
              <mat-card-content>Event About: {{event.eventAbout}}</mat-card-content>
              <mat-card-content><div *ngIf="event.eventPicturePath.length !=0" class="cardContainer">
                <div *ngFor="let eventPhoto of event.eventPicturePath">
                    <img src={{eventPhoto}} width="125" height="100">
                </div>
              </div></mat-card-content>
              <mat-card-content>Price: {{event.priceCategory}}</mat-card-content>
              <mat-card-content><div *ngIf="event.priceCategory == 'Paid'">
                <table>
                  <tr><th colspan="3">No. of category: {{event.pricePricing}}</th></tr>
                  <tr><th>Ticket name</th><th>Price</th><th>Currency</th></tr>
                  <tr *ngFor="let priceCate of event.priceCategories">
                    <td>{{priceCate.ticketName}}</td>
                    <td>{{priceCate.ticketPrice}}</td>
                    <td>{{priceCate.ticketcurrentcy}}</td>
                 </tr>
                </table>
              </div></mat-card-content>
              <mat-card-content>Restriction: {{event.restriction}}</mat-card-content>
              <mat-card-content>People expected: {{event.peopleExpected}}</mat-card-content>
              <mat-card-content><div *ngIf="event.specialGuestNames.length !=0">
                Special guests:
                <div *ngFor="let spGuest of event.specialGuestNames">
                    {{spGuest}}
                </div>
              </div></mat-card-content>
              <mat-card-content><div *ngIf="event.specialGuestPicturePath.length !=0" class="cardContainer">
                <div *ngFor="let spGuestPhoto of event.specialGuestPicturePath">
                    <img src={{spGuestPhoto}} width="125" height="100">
                </div>
              </div></mat-card-content>
              <mat-card-content>Special Guest Info: {{event.specialGuestAdditionalInfo}}</mat-card-content>
              <!-- <mat-card-content>Authorities notified: {{event.authorityNotified}}</mat-card-content> -->
              <mat-card-content><div *ngIf="event.authorityNotified == 'Yes'">
                Authorities:
                <div *ngFor="let autho of event.authoritySelected">
                    {{autho}}
                </div>
              </div></mat-card-content>
            </mat-card>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
