.card-container-component {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  margin-top: 1%;
  border: 1px solid #339FFF;
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important; //Set it after testing
}

.dotNumber {
  padding: 3px;
  // background-color: #bbb;
  border-radius: 50%;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  font-size: 20px;
}

.matCard7 {
  text-align: center;

  // mat-form-field {
  //   // background: blue;
  // }

}

.matCard8 {
  text-align: center;

  // mat-form-field {
  //   // background: blue;
  // }

  .matButtonToggle {
    background-color:Azure;
    padding: 1px;
    font-size: 15px;
    color: blue;
    &.selected{
      background-color: blue;
      color: white;
    }
  }

  .containerPricing {
    background-color: blue;
    margin: auto;
    width: 175px;
    padding: 2px;
    border-radius: 50px;
  }

  table.center {
    margin-left:auto;
    margin-right:auto;
    word-wrap: break-word;
  }

}

.form2BackNext {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  // background: rgb(141, 141, 0);
}
