<p>create-event works!</p>

<mat-horizontal-stepper [linear]="true" #stepper>

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>General Information</ng-template>
      <div><input matInput placeholder="Last name, First name" [(ngModel)]="rating1" formControlName="firstCtrl" required></div><br>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Pricing and Location</ng-template>
      <div><input matInput formControlName="secondCtrl"  [(ngModel)]="rating2" placeholder="Ex. 1 Main St, New York, NY" required></div><br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Additional Information</ng-template>
      <div><input matInput formControlName="thirdCtrl"  [(ngModel)]="rating3" placeholder="Telphone No." required></div><br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Summary</ng-template>
    <p>You are now done.</p><br>
    {{rating1}}, {{rating2}}, {{rating3}}
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>
