<mat-horizontal-stepper [linear]="false" #stepper> <!-- Linear false for tested, Should be true after -->

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>General Information</ng-template>
      <!-- MatCard 1 -->
      <mat-card class="matCard1 card-container-component">
        <mat-card-title ><span style="padding-left: 8px; padding-right: 8px;" class="dotNumber">1</span> What is the Category of your Event?</mat-card-title>
        <div style="text-align: right; color: red;" *ngIf="form1CatetogorySelected == null && form1ShowError == true">* required</div>
        <div class = "cardContainerCategory">
          <div class="card" *ngFor='let category of form1Categories'>
            <mat-button mat-icon-button class="matIconButtonCategory" [class.selected]="form1CatetogorySelected==category.category" (click)="form1CategoryChosen(category.category)">
              <mat-icon>{{category.icon}}</mat-icon>
            </mat-button>
            {{category.category}}
          </div>
        </div>
        <br>
        <div *ngIf= "form1SubCategories !=null">
          <mat-card-content style="font-size: 20px;">Select Subcategory</mat-card-content>
          <div style="text-align: right; color: red;" *ngIf="form1SubCategorySelected == null && form1ShowError == true">* required</div>
            <div class = "cardContainerSubCategory" *ngFor='let sub of form1SubCategories'>
              <mat-chip-list>
                <div class="card" *ngFor="let subCate of sub.subCategory">
                  <mat-chip class="chipSubCategory" [class.selected]="form1SubCategorySelected==subCate" (click)="form1SubCategoryChosen(subCate)">{{ subCate }}</mat-chip>
                </div>
              </mat-chip-list>
            </div>
        </div>
      </mat-card>

      <!-- MatCard 2 -->
      <mat-card class="matCard2 card-container-component">
        <mat-card-title><span style="padding-left: 8px; padding-right: 8px;" class="dotNumber">2</span> Is this a Private or Public Event?</mat-card-title>
        <div style="text-align: right; color: red;" *ngIf="form1MatButtonToggleSelected.errors?.required && form1ShowError == true">* required</div>
        <mat-button-toggle-group style="padding: 5px; border-radius: 50px; background-color:Azure;" formControlName="form1ButtonToggleCtrl" required [class.is-invalid]="form1MatButtonToggleSelected.invalid" class="form-control">
          <mat-button-toggle style="border-top-left-radius: 75px 100px; border-bottom-left-radius: 75px 100px;" value="Private" class="matButtonToggle" [class.selected]="form1.form1ButtonToggleCtrl.value=='Private'">&nbsp;&nbsp; Private &nbsp;&nbsp;</mat-button-toggle>
          <mat-button-toggle style="border-top-right-radius: 75px 100px; border-bottom-right-radius: 75px 100px;" value="Public" class="matButtonToggle" [class.selected]="form1.form1ButtonToggleCtrl.value=='Public'">&nbsp;&nbsp; Public &nbsp;&nbsp;</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-card>

      <!-- MatCard 3 -->
      <mat-card class="matCard3 card-container-component">
        <mat-card-title><span style="padding-left: 8px; padding-right: 8px;" class="dotNumber">3</span> When will this Event be?</mat-card-title>

        <div style="text-align: right; color: red;" *ngIf="form1DropDown2Selected==null && form1ShowError == true">* required</div> <!-- For Drop Down 2 -->
        <div>
          <mat-form-field style="width: 20%;" appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select formControlName="form1DropDown1Ctrl" required>
              <mat-option (onSelectionChange)="form1DropDown1OnSelectionChanged($event)" *ngFor="let option1 of form1DropDown1" [value]="option1.value">
                {{option1.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field style="width: 20%;" appearance="fill" *ngFor='let sub of form1DropDown2'>
            <mat-label>Select</mat-label>
            <mat-select formControlName="form1DropDown2Ctrl" required>
              <mat-option (onSelectionChange)="form1DropDown2OnSelectionChanged($event)" *ngFor="let option2 of sub.dropDown2" [value]="option2">
                {{option2}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div style="text-align: right; color: red;" *ngIf="(form1StartDate==null || form1EndDate==null) && form1ShowError == true">* required</div>
        <div style="text-align: right; color: red;" *ngIf="(form1StartDate=='Invalid date'|| form1EndDate=='Invalid date' || form1StartDate > form1EndDate)">* invalid date</div>
          <mat-form-field appearance="fill">
            <mat-label>Starts</mat-label>
            <input matInput [matDatepicker]="picker1" (dateChange)="form1StartDateEvent($event)" placeholder="MM/DD/YYYY">
            <mat-datepicker-toggle style="color: skyblue;" matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field appearance="fill">
            <mat-label>Ends By</mat-label>
            <input matInput [matDatepicker]="picker2" (dateChange)="form1EndDateEvent($event)" placeholder="MM/DD/YYYY">
            <mat-datepicker-toggle style="color: skyblue;" matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        <!-- <div>{{noOfDatesBetween}}</div> -->

        <div style="text-align: right; color: red;" *ngIf="(form1StartTime==null || form1EndTime==null || form1StartTime=='' || form1EndTime=='') && form1ShowError == true">* required</div>
        <div style="margin-left: 37%; margin-right: 63%;">Time</div>
        <mat-form-field>
          <input matInput #startTime type="time" (blur)="form1StartTimeEvent(startTime.value)">
        </mat-form-field>
        -
        <mat-form-field>
          <input matInput #endTime type="time" (blur)="form1EndTimeEvent(endTime.value)">
        </mat-form-field>
      </mat-card>

      <!-- MatCard 4 -->
      <mat-card class="matCard4N5 card-container-component">
        <mat-card-title><span style="padding-left: 8px; padding-right: 8px;" class="dotNumber">4</span> Event Title?</mat-card-title>
        <mat-form-field appearance="fill">
          <mat-label>Event Title</mat-label>
          <input matInput formControlName="form1EventTitleCtrl" required placeholder="Event title">
        </mat-form-field>
      </mat-card>

      <!-- MatCard 5 -->
      <mat-card class="matCard4N5 card-container-component">
        <mat-card-title><span style="padding-left: 8px; padding-right: 8px;" class="dotNumber">5</span> What is this Event about?</mat-card-title>
        <mat-form-field appearance="fill">
          <mat-label>Event About</mat-label>
          <textarea matInput formControlName="form1EventAboutCtrl" required placeholder="Event about..."></textarea>
        </mat-form-field>
      </mat-card>

      <!-- MatCard 6 -->
      <mat-card class="matCard6 card-container-component">
        <mat-card-title><span style="padding-left: 8px; padding-right: 8px;" class="dotNumber">6</span> Event's picture</mat-card-title>
        <div style="text-align: right;">Maximun: {{form1FileSize}} images</div>
        <div style="text-align: right;">Selected: {{form1Files.length}} images</div>
        <mat-card-content style="font-size: 20px;">Upload main Image</mat-card-content>
        <div style="text-align: right; color: red;" *ngIf="form1Files.length == 0 && form1ShowError == true">* required</div>

        <!-- <input type="file" (change)="onFileChanged($event)"><br>
        <img [src]="urlEventPicture" height="200"> -->

        <div class="container" appDnd (fileDropped)="form1OnFileDropped($event)">
          <input type="file" #fileDropRef id="fileDropRef" multiple (change)="form1FileBrowseHandler($event.target.files)" />
          <mat-icon style="font-size: 50px; color: SkyBlue;">cloud_upload</mat-icon>
          <h3>Drag & drop to upload</h3>
          <br>
          <label for="fileDropRef">Select file</label>
        </div>
        <div class="files-list">
          <div class="single-file" *ngFor="let file of form1Files; let i = index">
            <img [src]="file?.picture" height="50" width="50">
            <div class="info">
              <h4 class="name">{{ file?.name }}</h4>
              <p class="size">{{ form1FormatBytes(file?.size) }}</p>
            </div>
            <div class="delete" (click)="form1DeleteFile(i)">
              <mat-icon style="font-size: 25px;">delete_forever</mat-icon>
            </div>
          </div>
        </div>
      </mat-card>

      <div style="text-align: right;">
        <div style="color: red; padding-bottom: 10px; margin-right: 5%;" *ngIf="form1ShowError == true">
          <b>Review form and try again.</b>
        </div>
        <div style="padding: 5px; border-radius: 50px; background-color:SkyBlue; text-align: center; width: 100px; margin: 0 auto; margin-right: 5%;">
          <button mat-button style="border-radius: 50px; background-color:Blue; color: white; font-size: 18px; padding-left: 30px; padding-right: 30px;" (click)="form1GoForward(stepper)">Next</button>
        </div>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Pricing and Location</ng-template>
      <!-- MatCard 7 -->
      <mat-card class="matCard7 card-container-component">
        <mat-card-title><span style="padding-left: 8px; padding-right: 8px;" class="dotNumber">7</span> What is location?</mat-card-title>

        <div style="text-align: right; color: red;" *ngIf="this.form2DropDown1CitySelected == null && (this.form2.form2AddressCtrl.value == '' || this.form2.form2AddressCtrl.value == null) && form2ShowError == true">* required</div>
        <div style="text-align: right; color: red;" *ngIf="this.form2DropDown1CitySelected != null && this.form2DropDown2VenueSelected == null && form2ShowError == true">* required</div>
        <div>
          <mat-form-field style="width: 20%;" appearance="fill">
            <mat-label>Select location</mat-label>
            <mat-select>
              <mat-option (onSelectionChange)="form2DropDown1CityOnSelectionChanged($event)">Select location</mat-option>
              <mat-option (onSelectionChange)="form2DropDown1CityOnSelectionChanged($event)" *ngFor="let cities of form2Cities" [value]="cities.city">
                {{cities.city}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field style="width: 20%;" appearance="fill" *ngFor='let city of form2Venues'>
            <mat-label>Select venue</mat-label>
            <mat-select>
              <mat-option (onSelectionChange)="form2DropDown2VenueOnSelectionChanged($event)">Select venue</mat-option>
              <mat-option (onSelectionChange)="form2DropDown2VenueOnSelectionChanged($event)" *ngFor="let venue of city.venues" [value]="venue">
                {{venue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <div style="margin-left: 25%; margin-right: 57%;">Or type address if you are not find any</div>
          <mat-form-field style="width: 50%;" appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput formControlName="form2AddressCtrl" placeholder="Address">
          </mat-form-field>
        </div>
      </mat-card>

      <!-- MatCard 8 -->
      <mat-card class="matCard8 card-container-component">
        <mat-card-title><span style="padding-left: 8px; padding-right: 8px;" class="dotNumber">8</span> What is the price?</mat-card-title>

        <div style="text-align: right; color: red;" *ngIf="form2MatButtonTogglePriceSelected.errors?.required && form2ShowError == true">* required</div>
        <mat-button-toggle-group style="padding: 5px; border-radius: 50px; background-color:Azure;" formControlName="form2ButtonTogglePriceCtrl" required [class.is-invalid]="form2MatButtonTogglePriceSelected.invalid" class="form-control">
          <mat-button-toggle style="border-top-left-radius: 75px 100px; border-bottom-left-radius: 75px 100px;" (click)="form2OperationMatButtonTogglePrice()" value="Free" class="matButtonToggle" [class.selected]="form2.form2ButtonTogglePriceCtrl.value=='Free'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Free &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mat-button-toggle>
          <mat-button-toggle style="border-top-right-radius: 75px 100px; border-bottom-right-radius: 75px 100px;" (click)="form2OperationMatButtonTogglePrice()" value="Paid" class="matButtonToggle" [class.selected]="form2.form2ButtonTogglePriceCtrl.value=='Paid'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Paid &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mat-button-toggle>
        </mat-button-toggle-group>

        <div *ngIf="form2.form2ButtonTogglePriceCtrl.value=='Paid'"><br>
          <mat-card-content style="font-size: 20px;">How many different pricing?</mat-card-content>
          <div class = "containerPricing">
            <mat-button mat-icon-button style="color: white; cursor: pointer;" (click)="form2OperationNoofPricing('Minus')">
              &nbsp;&nbsp;<mat-icon>remove</mat-icon>&nbsp;&nbsp;
            </mat-button>
            <input matInput style="background-color: white; width: 70px; height: 40px;" readonly [value]="form2NoOfPricing">
            <mat-button mat-icon-button style="color: white; cursor: pointer;" (click)="form2OperationNoofPricing('Add')">
              &nbsp;&nbsp;<mat-icon>add</mat-icon>&nbsp;&nbsp;
            </mat-button>
          </div>
          <br>
          <div style="text-align: right; color: red;" *ngIf="(form2TicketNameError == true || form2PriceError == true || form2CurrencyError == true) && form2ShowError == true">* something wrong</div>
          <table class="center">
            <tr style="text-align: left;">
              <th>Ticket Name</th>
              <th>Price</th>
              <th>Currency</th>
            </tr>
            <tr *ngFor="let items of form2PricingItems">
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Ticket name</mat-label>
                  <input matInput placeholder="Ticket name" [(value)]="items.ticketName" (blur)="form2TicketNameInputOnBlur($event, items)" required>
                </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </td>
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Price</mat-label>
                  <input matInput placeholder="Price" [(value)]="items.price" (blur)="form2PriceInputOnBlur($event, items)" required>
                </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </td>
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Select currency</mat-label>
                  <mat-select required>
                    <mat-option (onSelectionChange)="form2DropDown3CurrencyOnSelectionChanged($event, items)">Select currency</mat-option>
                    <mat-option (onSelectionChange)="form2DropDown3CurrencyOnSelectionChanged($event, items)" *ngFor="let currencies of form2PriceCurrencies" [value]="currencies.currency">
                      {{currencies.currency}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </td>
            </tr>
          </table>
        </div>
      </mat-card>

      <div style="text-align: right;">
        <div style="color: red; padding-bottom: 10px; margin-right: 5%;" *ngIf="form2ShowError == true">
          <b>Review form and try again.</b>
        </div>
      </div>

      <div class="form2BackNext">
        <div style="padding: 5px; border-radius: 50px; text-align: center; width: 100px; margin: 0 auto; margin-left: 5%;">
          <button mat-button style="border-radius: 50px; color: blue; font-size: 18px; padding-left: 30px; padding-right: 30px;" matStepperPrevious>Back</button>
        </div>
        <div style="padding: 5px; border-radius: 50px; background-color:SkyBlue; text-align: center; width: 100px; margin: 0 auto; margin-right: 5%;">
          <button mat-button style="border-radius: 50px; background-color:Blue; color: white; font-size: 18px; padding-left: 30px; padding-right: 30px;" (click)="form2GoForward(stepper)">Next</button>
        </div>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Additional Information</ng-template>
      <!-- MatCard 9 -->
      <mat-card class="matCard9 card-container-component">
        <mat-card-title><span style="padding-left: 8px; padding-right: 8px;" class="dotNumber">9</span> Any restrictions in regards of your audience?</mat-card-title>
        <div style="text-align: right; color: red;" *ngIf="form3MatRadioButtonSelected.errors?.required && form3ShowError == true">* required</div>
        <mat-radio-group formControlName="form3RadioButtonCtrl" required [class.is-invalid]="form3MatRadioButtonSelected.invalid" class="form-control">
          <div class = "cardContainerRadioButton">
            <div class="cardRB" *ngFor='let restriction of form3Restrictions'>
              <mat-radio-button [value]="restriction">
                <div style="margin-top: 5px;">
                  &nbsp;{{restriction}}
                </div>

              </mat-radio-button>
            </div>
          </div>
        </mat-radio-group>
      </mat-card>

      <!-- MatCard 10 -->
      <mat-card class="matCard10 card-container-component">
        <mat-card-title><span class="dotNumber">10</span> How many people do you expect to see?</mat-card-title>
        <br>
        <div style="text-align: right; color: red;" *ngIf="form3NoofPeopleExpectedError == true && form3ShowError == true">* something wrong</div>
        <div class = "containerPeopleExpected">
          <button mat-icon-button style="color: white; cursor: pointer;" (click)="form3OperationNoofPeopleExpected('Minus')">
            &nbsp;&nbsp;<mat-icon>remove</mat-icon>&nbsp;&nbsp;
          </button>
          <input matInput style="background-color: white; width: 70px; height: 40px;" [value]="form3NoOfPeopleExpected" (blur)="form3NoofPeopleExpectedInputOnBlur($event)">
          <button mat-icon-button style="color: white; cursor: pointer;" (click)="form3OperationNoofPeopleExpected('Add')">
            &nbsp;&nbsp;<mat-icon>add</mat-icon>&nbsp;&nbsp;
          </button>
        </div>
        <br>
      </mat-card>

      <!-- MatCard 11 -->
      <mat-card class="matCard11 card-container-component">
        <mat-card-title><span class="dotNumber">11</span> How many special guests will there be?</mat-card-title>
        <br>
        <div class = "containerSpecialGuest">
          <button mat-icon-button style="color: white; cursor: pointer;" (click)="form3OperationNoOfSpecialGuests('Minus')">
            &nbsp;&nbsp;<mat-icon>remove</mat-icon>&nbsp;&nbsp;
          </button>
          <input matInput style="background-color: white; width: 70px; height: 40px;" readonly [value]="form3NoOfSpecialGuests">
          <button mat-icon-button style="color: white; cursor: pointer;" (click)="form3OperationNoOfSpecialGuests('Add')">
            &nbsp;&nbsp;<mat-icon>add</mat-icon>&nbsp;&nbsp;
          </button>
        </div>
        <br>
        <div *ngIf="form3NoOfSpecialGuests>0">
          <mat-card-content style="font-size: 20px;">What are the names of your special guests?</mat-card-content>
          <div style="text-align: right; color: red;" *ngIf="form3GuestNameError == true && form3ShowError == true">* something wrong</div>
          <div *ngFor="let guests of form3SpecialGuests; let i = index">
            {{i+1}}&nbsp;&nbsp;&nbsp;
            <mat-form-field style="width: 25%;" appearance="fill">
              <mat-label>Guest name</mat-label>
              <input matInput placeholder="Guest name" [(value)]="guests.name" (blur)="form3GuestNameInputOnBlur($event, guests)" required>
            </mat-form-field>
          </div>
        </div>

      </mat-card>





      <div style="text-align: right;">
        <div style="color: red; padding-bottom: 10px; margin-right: 5%;" *ngIf="form3ShowError == true">
          <b>Review form and try again.</b>
        </div>
      </div>

      <div class="form3BackNext">
        <div style="padding: 5px; border-radius: 50px; text-align: center; width: 100px; margin: 0 auto; margin-left: 5%;">
          <button mat-button style="border-radius: 50px; color: blue; font-size: 18px; padding-left: 30px; padding-right: 30px;" matStepperPrevious>Back</button>
        </div>
        <div style="padding: 5px; border-radius: 50px; background-color:SkyBlue; text-align: center; width: 100px; margin: 0 auto; margin-right: 5%;">
          <button mat-button style="border-radius: 50px; background-color:Blue; color: white; font-size: 18px; padding-left: 30px; padding-right: 30px;" (click)="form3GoForward(stepper)">Next</button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Summary</ng-template>
    <p>You are now done.</p><br>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>
