<p>create-event works!</p>

<mat-horizontal-stepper [linear]="true" #stepper>

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>General Information</ng-template>

      <mat-card class="matCard1 card-container-component">
        <mat-card-title style="text-align: center;">What is the Category of your Event?</mat-card-title>
        <div  style="text-align: right; color: red;" *ngIf="form1CatetogorySelected == null">* required</div>
        <div class = "cardContainerCategory">
          <div class="card" *ngFor='let category of form1Categories'>
            <button mat-icon-button class="matIconButtonCategory" [class.selected]="form1CatetogorySelected==category.category" (click)="form1CategoryChosen(category.category)">
              <mat-icon>{{category.icon}}</mat-icon>
            </button>
            <p1 style="text-align: center;">{{category.category}}</p1>
          </div>
        </div>
        <br>
        <div *ngIf= "form1SubCategories !=null">
          <mat-card-content style="text-align: center; font-size: 20px;">Select Subcategory</mat-card-content>
          <div  style="text-align: right; color: red;" *ngIf="form1SubCategorySelected == null">* required</div>
            <div1 class = "cardContainerSubCategory" *ngFor='let sub of form1SubCategories'>
              <mat-chip-list>
              <div class="card" *ngFor="let subCate of sub.subCategory">
                  <mat-chip class="chipSubCategory" [class.selected]="form1SubCategorySelected==subCate" (click)="form1SubCategoryChosen(subCate)">{{ subCate }}</mat-chip>
              </div>
            </mat-chip-list>
            </div1>
        </div>
      </mat-card>

      <mat-card class="matCard2 card-container-component">
        <mat-card-title style="text-align: center;">Is this a Private or Public Event?</mat-card-title>
        <div  style="text-align: right; color: red;" *ngIf="form1MatButtonToggleSelected.errors?.required">* required</div>
        <mat-button-toggle-group formControlName="form1ButtonToggleCtrl" required [class.is-invalid]="form1MatButtonToggleSelected.invalid" class="form-control">
          <mat-button-toggle value="Private" class="matButtonToggle" [class.selected]="form1.form1ButtonToggleCtrl.value=='Private'">Private</mat-button-toggle>
          <mat-button-toggle value="Public" class="matButtonToggle" [class.selected]="form1.form1ButtonToggleCtrl.value=='Public'">Public</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-card>

      <mat-card class="matCard3 card-container-component">
        <mat-card-title style="text-align: center;">When will this Event be?</mat-card-title>

        <mat-form-field style="width: 20%;" appearance="fill">
          <mat-label>Select</mat-label>
          <mat-select formControlName="form1DropDown1Ctrl" required>
            <mat-option (onSelectionChange)="form1DropDown1OnSelectionChanged($event)" *ngFor="let option1 of form1DropDown1" [value]="option1.value">
              {{option1.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf= "form1DropDown2 !=null">
          <div1 *ngFor='let sub of form1DropDown2'>
            <mat-form-field style="width: 20%;" appearance="fill">
              <mat-label>Select</mat-label>
                <mat-select formControlName="form1DropDown2Ctrl" required>
                  <mat-option (onSelectionChange)="form1DropDown2OnSelectionChanged($event)" *ngFor="let option2 of sub.dropDown2" [value]="option2">
                    {{option2}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div1>
        </div>

        <div  style="text-align: right; color: red;" *ngIf="form1StartDate==null || form1EndDate==null ">* required</div>
        <div  style="text-align: right; color: red;" *ngIf="form1StartDate=='Invalid date'|| form1EndDate=='Invalid date' || form1StartDate > form1EndDate">* invalid date</div>
        <div class = "cardContainerDate">
          <mat-form-field appearance="fill">
            <mat-label>Starts</mat-label>
            <input matInput [matDatepicker]="picker1" (dateChange)="form1StartDateEvent($event)">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Ends By</mat-label>
            <input matInput [matDatepicker]="picker2" (dateChange)="form1EndDateEvent($event)">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div  style="text-align: center;">{{noOfDatesBetween}}</div>





      </mat-card>


      <button mat-button (click)="form1GoForward(stepper)">Next</button>

    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Pricing and Location</ng-template>
      <!-- <div><input matInput formControlName="secondCtrl"  [(ngModel)]="rating2" placeholder="Ex. 1 Main St, New York, NY" required></div><br> -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Additional Information</ng-template>
      <!-- <div><input matInput formControlName="thirdCtrl"  [(ngModel)]="rating3" placeholder="Telphone No." required></div><br> -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Summary</ng-template>
    <p>You are now done.</p><br>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>
