.card-container-component {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  margin-top: 1%;
  border: 1px solid #339FFF;
}

.dotNumber {
  padding: 3px;
  // background-color: #bbb;
  border-radius: 50%;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  font-size: 20px;
}

.matCard13 {
  // text-align: center;

  table {
    border-collapse: collapse;
  }

  table, td, th {
    border: 1px solid black;
  }
}

.matTermCondition{
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-outer-circle{
    border-color:SkyBlue;
    height: 25px;
    width: 25px;
  }

  ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: SkyBlue;
    background-image: url("https://w7.pngwing.com/pngs/626/893/png-transparent-blue-and-white-check-logo-facebook-social-media-verified-badge-logo-vanity-url-blue-checkmark-blue-angle-text.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;
  }

  ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-inner-circle{
    background-color:transparent;
    height: 25px;
    width: 25px;
  }

  ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: yellow;
  }
}

.summaryBackNext {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  // background: rgb(141, 141, 0);
}
